html {
    font-size: 16px;
    margin: 0 32px;
}

body {
    background-color: var(--background);
    color: var(--color);
    max-width: 1200px;
    margin: auto
}

header {
    font-size: 2rem;
    padding: 32px;
    text-align: center;
}

.github-link {
    margin-bottom: 16px;
}

.cat {
    margin-bottom: 16px;
}

.cat-name {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.cat-divider {
	border-top: 1px solid black;
	border-bottom: none;
}

.proj-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proj {
    /* border: 1px solid black;
    border-radius: 2px; */
    width: 300px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 16px;
    padding-left: 0px;
}

.proj-name {
    font-size: 1.3rem;
    padding-bottom: 8px;
}

.proj-desc {
    padding-bottom: 8px;
}

.proj-link {
    margin-right: 8px;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}